@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
	scroll-behavior: smooth;
	font-family: Montserrat, sans-serif;
	--tw-bg-opacity: 1;
	@apply bg-amber-50;
}
nav.visible {
	height: 100vh;
}
ul.detail-list {
	& > li.animate:first-child {
		animation-delay: 0s;
	}
	& > li.animate:nth-child(2) {
		animation-delay: 0.3s;
	}
	& > li.animate:nth-child(3) {
		animation-delay: 0.7s;
	}
}
[data-locate-bg] {
	transition-duration: 0.3s;
	transition-property: transform;

	&.maps {
		transform: translateX(0);
	}

	&.render {
		transform: translateX(100%);
	}
}
[data-render-loading-bar] {
	transition: width 0.3s;
}
.animate {
	animation-duration: 0.7s;
	animation-fill-mode: both;
	&.animate-infinite {
		animation-iteration-count: infinite;
	}
	&.animate-quick {
		animation-duration: 0.3s;
	}
	&.animate-slow {
		animation-duration: 1s;
	}
	&.animate-delay-0\.5 {
		animation-delay: 0.25s;
	}
	&.animate-delay-1 {
		animation-delay: 0.5s;
	}
	&.animate-delay-2 {
		animation-delay: 1s;
	}
	&.animate-delay-3 {
		animation-delay: 1.5s;
	}
}
.fadeIn {
	animation-name: fadeIn;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.fadeOut {
	animation-name: fadeOut;
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.fadeSlideInLeft {
	animation-name: fadeSlideInLeft;
}
@keyframes fadeSlideInLeft {
	0% {
		transform: translateX(-20rem);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
.fadeSlideInRight {
	animation-name: fadeSlideInRight;
}
@keyframes fadeSlideInRight {
	0% {
		transform: translateX(20rem);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
.slideInUp {
	position: relative;
	animation-name: fadeSlideInUp;
	animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@keyframes fadeSlideInUp {
	0% {
		transform: translateY(20rem);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
